<% if request.liked_by?(current_member) %>
  <div>いいね:<%= link_to request.likes.count, request_like_path(request), method: :delete,remote: true %></div>
<% else %>
  <div>いいね:<%= link_to request.likes.count, request_like_path(request), method: :post, remote: true %></div>
<% end %>