<div class="top-image">
  <div class="container">
    <div class="row justify-content-end pt-5" >
       <%= link_to "ログイン", new_member_session_path, class: 'btn btn-outline-dark' %>
    </div>
    <div class="row justify-content-center" style="padding-top: 150px;">
      <div class="display-2">Sharehobby</div>
    </div>
    <div class="row justify-content-center" style="padding-top: 30px;">
      <span><%= link_to "アカウント作成",new_member_registration_path, class: "btn btn-lg btn-outline-danger", 'data-turbolinks': false %></span>
    </div>
  </div>
</div>
