/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';


// header
.header {
 // background-color: #e6f0f0;
}

// main
.main {
 min-height: 550px;
}

// footer
.footer {
 height: 40px;
}

// TOPの
.top-image {
 // background-image: image-url("top2.jpg");
 // background-repeat: no-repeat;
 // background-size: cover;
 background-color: #ffff9e;
 width: 100vw;
 height: 100vh;
}

// ページ全体の背景色とフォント設定
body{
 // font-family: 'Comfortaa', cursive;
 font-family: 'RocknRoll One', sans-serif;
 background-color: #fff8cf;
}

// カード全てのスタイル
.card{
 border-width: 4px;
 border-style: solid;
 border-color: #888888;
}

// エラーメッセージの点を消すため
.error-style{
 list-style: none;
}

// 通知未確認の設定
.fa-notification{
  position: absolute;
  padding-left: 1.2rem;
  padding-top: 0rem;
  color: red;
}

.ul{
 list-style: none;
}